/* Fronts Uses */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Extra styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

h1 {
    width: 485px;
    height: 230px;
    font-size: 64px;
}



/* top section style */
.container {
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}

.top-text {
    padding-left: 200px;
    color: white;
    transition: width 1s, transform 1s;
}

a {
    text-decoration: none;
    color: white;
}

.watch {
    width: 160px;
    height: 35px;
    background-color: #E02C6D;
    text-align: center;
}

.top-banner img {
    width: 556px;
    height: 438 px;
    transition: width 1s, transform 1s;
}

.top-text:hover {
    width: 400px;
    transform: scale(1.1, 1.0);
}

.top-banner:hover img {
    height: 438 px;
    transform: scale(1.1, 1.0);
}

.players {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 990px;
    height: 1422px;
    padding-left: 170px;
}

.player {
    width: 330px;
    height: 474px;
    background-color: white;
}

.player-info {
    padding: 15px;
}

.pic img {
    width: 300px;
    height: 256px;
    padding: 15px;
}